{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">All Posts</h1>
{% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}" 
                    alt="{{ post.user.username }}'s profile picture" 
                    class="img-thumbnail">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">{{ post.title }}</h5>
                
                    <h6 class="card-subtitle mb-2 text-muted">By {{ post.user.username }} on {{ post.date_posted.strftime('%B %d, %Y') }}</h6>
                    <p class="card-text">{{ post.content[:200] }}{% if post.content|length > 200 %}...{% endif %}</p>
                    <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-primary btn-sm">Read More</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
